@use '../styles/tokens' as *;

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 88px;
  background-color: $bg-default;
  border-top: 1px solid $interaction-enable-alpha;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-2;
  height: 100%;
  max-width: 100%;
  padding: 0 $space-4;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-1;
  flex: 1;
  border-radius: 100px;
  cursor: pointer;
  transition: all $transition-base $transition-ease;
  position: relative;

  &:active {
    transform: scale(0.95);
  }
}

.navbar-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.navbar-label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: $text-medium;
  text-align: center;
  text-overflow: ellipsis;
  font-family: $font-satoshi;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: 1.6;
}

.navbar-label-active {
  color: $text-strong;
  font-weight: $font-weight-bold;
}

.notification-badge {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 7.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -6px;
  top: -4px;
  border-radius: 999px;
  border: 1px solid $bg-default;
  background-color: $error;

  span {
    display: flex;
    width: 7px;
    height: 7px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: $text-inverted;
    text-align: center;
    font-family: $font-satoshi;
    font-size: 10px;
    font-weight: $font-weight-bold;
    line-height: 0;
    text-transform: uppercase;
  }
}

// Responsividade
@media (min-width: 768px) {
  .navbar-container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .navbar-container {
    max-width: 1024px;
  }
}
